doctype html 
html
  head
    title India's Best Dancing Classes | Welcome 
    block scripts
    block style 
    
  body
    nav#navbar.top 
                ul 
                    #logo 
                        img(src="../static/img/logo.png")
                        | sDaAcademy 
                    li #[a(href="/") Home]
                    li #[a(href="/") About]
                    li #[a(href="/") Services]
                    li #[a(href="/") Class Info]
                    li #[a(href="/contact") Contact Us]
    
    block content
    footer
        |Copyright © 2023 sDaAcademy.com | All Rights Reserved
        